.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header ' 'images images images images sidebar sidebar';
  width: 960px;
  grid-gap: 10px;
  padding: 10px;
  margin: auto;
}

#buttons {
  grid-area: header;
}

.button {
  margin: 2px;
  padding: 3px;
  font-weight: bold;
}

#image {
  grid-area: images;
}

#userinput {
  grid-area: sidebar;
  text-align: center;
}

#gif {
  display: inline-block;
  margin: 2px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 800px) {
  .grid-container {
    width: 750px;
    grid-template-areas: 'header' 'sidebar' 'images';
    /* background-color: #2196F3; */
  }
  #userinput {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
  }
  #image {
    margin-top: 10px;
  }
  #gif {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .grid-container {
    width: 450px;
    grid-template-areas: 'header' 'sidebar' 'images';
    /* background-color: #2196F3; */
  }
  #userinput {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
  }
  #image {
    margin-top: 10px;
  }
  #gif {
    display: block;
    text-align: center;
    margin: auto;
  }

}
